@font-face {
    font-family: "ＭＳゴシック";
    src: url("../font/MS-Gothic-01.ttf");
  }
@media screen and (max-width: 480px) {
/*スマホ用のCSSを記入*/
    .background{
        text-align: center;
    }

    #back{
        position: fixed;
        
        display: block;
        left: -9px;
        top: 40px;
        margin: 0;
        width: 105vw;
        height: 105vh;
        background-repeat: no-repeat;
        background-position:center center;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    #sidebar{
        display: none;
    }
    #topbar{
        display: none;
    }
    #topbar_sm{
        display: block;
        position: fixed;
        top: -2px;
        left: -17px;
        width: 120%;
        height: auto;
    }
    #logoicon{
        display: none;
    }
    #label{
        display: none;
    }
    #labeltext{
        display: none;
    }
    #labeltext_sm{
        position: fixed;
        position: absolute;
        display: flex;
        justify-content: center;
        top: 13%;
        left: 50%;
        right: 50%;
        margin-left: -17%;
        width: 35%;
        height: auto;
    }

    /*サイドバーの機能設定*/
    #saveicon{
        display: none;
    }
    #exiticon{
        display: none;
    }

    /*テキストボックス*/
    .textbox{
 
        text-align: center;
    }

    .mojisu-label,
    .mojisu {
        color: #073b57;
        position: fixed;
    }

    .mojisu-label {
        width: calc(100% - 2em);
        font-size: .9em;
        top: 28%;
        left: -1%;
    }
    .mojisu {
        display: block;
        top: 27%;
        left: 15%;
        width: 23%;
        height: 5%;
        padding: 8px 10px;
        border: 1px solid #ced3d8;
        border-radius: 3px;
        line-height: 1.5;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    }
    .mojisu:focus{
        outline:solid 2px rgb(205, 246, 255);
    }
    .mojisu::placeholder {
        color: #999;
    }
    .time-label,
    .time {
        position: fixed;
        color: #333;
    }
    .time-label {
        width: calc(100% - 2em);
        font-size: .9em;
        top: 36%;
        left: -3%;
    }
    .time {
        top: 35%;
        left: 15%;
        width: 23%;
        height: 5%;
        padding: 8px 10px;
        border: 1px solid #ced3d8;
        border-radius: 3px;
        line-height: 1.5;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    }

    .time::placeholder {
        color: #999;
    }
    .genko_title {
        position: fixed;
        top: 400;
        left: 40;
        width: 80%;
        padding: 8px 10px;
        border: 1px solid #ced3d8;
        border-radius: 3px;
        line-height: 1.5;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    }

    .genko_title::placeholder {
        color: #999;
    }
    #textarea {
        position: fixed;
        top: 460;
        left: 40;
        width: 80%;
        height: 25%;
        padding: 8px 10px;
        border-radius: 3px;
        font-size: 1em;
        display: inline-block;
        border: 1px solid #ced3d8;
        border-radius: 3px;
        box-sizing: border-box;
        margin: 0.5em 0;
        line-height: 1.5;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    }

    #texarea::placeholder {
        color: #999;
    }

    /*スマホボタン設定*/
    #saveicon_2{
        position: fixed;
        display: flex;
        justify-content: center;
        left: 50%;
        margin-left: -71.515px;
        top: 85%;
        width: 35%;
        height: auto;

    }

    #back_button{
        position: absolute;
        float: none;
        margin: auto;
        top: 10%;
        left: 20px;
        width: 20%;
    }
    #hmb{
        position: absolute;
        margin: auto;
        float: none;
        top: 10%;
        right: 20px;
        width: 20%;
    }

}
