@font-face {
    font-family: "ＭＳゴシック";
    src: url("../font/MS-Gothic-01.ttf");
  }
@media screen and (max-width: 480px) {
/*スマホ用のCSSを記入*/
    #back{
        position: fixed;
        left: -6px;
        margin: 0;
        width: 105vw;
        height: 105vh;
        background-repeat: no-repeat;
        background-position:center center;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    #sidebar{
        display: none;
    }
    #topbar{
        display: none;
    }
    #topbar_sm{
        float: left;
        display: block;
        position: fixed;
        top: -60px;
        left: -37px;
        width: 120vw;
        height: 30%;
    }
    #logoicon{
        display: none;
    }
    #label{
        display: none;
    }
    #labeltext{
        position: fixed;
        display: block;
        top: 82;
        left: 148;
        transform-origin: 0%; 
        transform: scale(0.4);
    }

    /*サイドバーの機能設定*/
    #saveicon{
        display: none;
    }
    #exiticon{
        display: none;
    }

    /*テキストボックス*/
    .mojisu-label,
    .mojisu {
        color: #073b57;
    }

    .mojisu-label {
        display: inline-block;
        width: calc(100% - 2em);
        font-size: .9em;
    }
    .mojisu {
        position: fixed;
        display: block;
        top: 250;
        left: 80;
        width: 20%;
        height: 5%;
        padding: 8px 10px;
        border: 1px solid #ced3d8;
        border-radius: 3px;
        line-height: 1.5;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    }
    .mojisu:focus{
        outline:solid 2px rgb(205, 246, 255);
    }
    .mojisu::placeholder {
        color: #999;
    }
    .time-label,
    .time {
        color: #333;
    }
    .time-label {
        display: inline-block;
        margin-bottom: 5px;
        font-size: .9em;
    }
    .time {
        position: fixed;
        top: 320;
        left: 80;
        width: 20%;
        height: 5%;
        padding: 8px 10px;
        border: 1px solid #ced3d8;
        border-radius: 3px;
        line-height: 1.5;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    }

    .time::placeholder {
        color: #999;
    }
    .genko_title {
        position: fixed;
        top: 400;
        left: 40;
        width: 80%;
        padding: 8px 10px;
        border: 1px solid #ced3d8;
        border-radius: 3px;
        line-height: 1.5;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    }

    .genko_title::placeholder {
        color: #999;
    }
    #textarea {
        position: fixed;
        top: 460;
        left: 40;
        width: 80%;
        height: 25%;
        padding: 8px 10px;
        border-radius: 3px;
        font-size: 1em;
        display: inline-block;
        border: 1px solid #ced3d8;
        border-radius: 3px;
        box-sizing: border-box;
        margin: 0.5em 0;
        line-height: 1.5;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    }

    #texarea::placeholder {
        color: #999;
    }

    /*ボタン設定*/
    #saveicon_2{
        position: fixed;
        left: -215;
        top: 560;
        transform: scale(0.2);
    }
    #back_button{
        position: fixed;
        left: -155;
        top: -110;
        transform: scale(0.2);
    }
    #hmb{
        position: fixed;
        left: 110;
        top: -110;
        transform: scale(0.2);
    }

}
