@font-face {
    font-family: "MS";
  src: url("../font/MS-Gothic-01.ttf");
}
html {
    font-family: "ＭＳゴシック", "MS", "ＭＳ Ｐゴシック", "MS PGothic",
      "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  }
/*PC用のCSSを記入
@media screen and(min-width: 2161px) {*/
    /*背景設定*/
    #back{
        position: fixed;
        display: block;
        left: -6px;
        margin: 0;
        width: 105vw;
        height: 105vh;
        background-repeat: no-repeat;
        background-position:center center;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    #sidebar{
        position: fixed;
        display: block;
        top: -90;
        left: -40;
        width: 173px;
        height: 951px;
        transform: scale(0.7);
    }
    /*PC用ヘッダー*/
    #topbar{
        float: left;
        display: block;
        position: fixed;
        top: -15px;
        left: -25px;
        width: 107vw;
        height: 17%;
    }
    /*スマホ用ヘッダー*/
    #topbar_sm{
        display: none;
    }
    /*左上のロゴ*/
    #logoicon{
        position: fixed;
        display: block;
        top: 10;
        left: 20;
        transform-origin: 0% 0%; /*左上基準*/
        transform: scale(0.09);
    }
    #logoicon:hover{
        opacity:0.7;
        /* リンクをホバーしたときのカーソルに*/
        cursor: pointer;
    }
    #logoicon:active{
        position: fixed;
	    top: 11;
    }
    /* ユーザーアイコン */
    li {
        list-style: none;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    .logo-txt {
        text-align: center;
        position: fixed;
        z-index: 101;
    }
  
    .user_button {
        position: fixed;
        text-align: right;
        right: 20px;
        top: 10px;
        background: none;
        border: 0;
        font-size: 0;
        line-height: 0;
        overflow: visible;
        cursor: pointer;
        padding: 0;
    }
    .user-img {
        width: 60px;
        height: 100%;
        text-align: center;
    }
    .user {
        text-align: right;
        margin-top: 20px;
        margin-right: 10px;
    }
    .user-img:hover {
        opacity: 0.7;
    }
    .user-img:active {
        position: relative;
        top: 1px;
    }
    /* ユーザー情報表示タブ(PC) */
    #user-wrap {
        /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
        position: fixed;
        z-index: 6000;
        text-align: center;
        /*ナビのスタート位置と形状*/
        top: -0.5em;
        right: -120%;
        width: 200px;
        height: 200px; /*ナビの高さ*/
        background-image: url("../img/blue_loginBack.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        /*動き*/
        transition: all 0.6s;
        margin: 0;
        padding: 0;
        border-radius: 3px;
    }
    #user-list {
        margin: 0;
        padding: 0;
    }

    /* メールの文字数制限 */
    #user_mail-sp {
        width: 170px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    /* メールの文字数制限 */
    #user_mail {
        width: 170px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    /*アクティブクラスがついたら位置を0に*/
  #user-wrap.panelactive {
    right: 0;
  }
  
  /*ナビゲーション*/
  #user-wrap ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 6000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
  }
  #user-wrap li {
    margin: 0;
    padding: 0;
  }
  .user-title {
    font-weight: bolder;
    font-size: 18px;
  }
  p {
    margin: 0.6em;
  }
  .close {
    margin-top: 2em;
  }
  .close p {
    margin-bottom: 0.2em;
    padding: 0.1em;
    background-color: white;
    font-weight: 600;
    overflow: visible;
    cursor: pointer;
  }
  
  .close p:hover {
    opacity: 70%;
  }
  .close p:focus {
    opacity: 70%;
  }
    
    
    /* リンクの文字色 */
    #logout,
    #logout-sp {
    color: #0000ee;
    text-decoration: underline;
    cursor: pointer;
    }

    #logout:visited,
    #logout-sp:visited {
    color: #551a8b;
    text-decoration: underline;
    }

    #logout:hover,
    #logout-sp:hover {
    color: #10bbeb;
    text-decoration: underline;
    }
    #logout:focus,
    #logout-sp:focus {
    color: #10bbeb;
    text-decoration: underline;
    }

    #logout:active,
    #logout-sp:active {
    color: #ff0000;
    text-decoration: underline;
    }
    /*スクロールバー*/
    ::-webkit-scrollbar {
        width: 15px;
      }
      ::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0);
        border-radius: 5px;
      }
      ::-webkit-scrollbar-thumb {
        background-image: url("../img/scroll_3.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
      }
    #label{
        position: fixed;
        display: block;
        top: -47;
        left: 93;
        transform-origin: 0%; 
        transform: scale(0.17);
    }
    /*「新規作成」*/
    #labeltext{
        position: fixed;
        display: block;
        top: 92;
        left: 140;
        transform-origin: 0%; 
        transform: scale(0.3);
    }
    #labeltext_sm{
        display: none;
    }

    /*サイドバーとボタンの機能設定*/

    /*画像をドラッグさせない*/
    .function_button{
        -webkit-touch-callout:none;
        -webkit-user-select:none;
        -moz-touch-callout:none;
        -moz-user-select:none;
        user-select:none;
    }

    /*保存ボタン*/
    #saveicon{
        position: fixed;
        display: block;
        top: 60;
        left: 25;
        transform-origin: 0% ; 
        transform: scale(0.35);
        cursor: pointer;
    }
    #saveicon:hover{
        opacity:0.5;
        cursor: pointer;
    }
    #saveicon:active{
        position: fixed;
	    top: 61;
    }
    
    #emphasisButton{
        position: fixed;
        display: block;
        top: 88%;
        left: 32%;
        transform-origin: 0% ; 
        cursor: pointer;
        transform: scale(0.7);
    }
    #emphasisButton:hover{
        opacity:0.7;
        cursor: pointer;
    }
    #emphasisButton:active{
        position: fixed;
	    top: 88.5%;
    }
    #maButton{
        position: fixed;
        display: block;
        top: 88%;
        left: 42%;
        transform-origin: 0% ; 
        cursor: pointer;
        transform: scale(0.7);
    }
    #maButton:hover{
        opacity:0.7;
        cursor: pointer;
    }
    #maButton:active{
        position: fixed;
	    top: 88.5%;
    }
    #miwaButton{
        position: fixed;
        display: block;
        top: 88%;
        left: 52%;
        transform-origin: 0% ; 
        cursor: pointer;
        transform: scale(0.7);
    }
    #miwaButton:hover{
        opacity:0.7;
        cursor: pointer;
    }
    #miwaButton:active{
        position: fixed;
	    top: 88.5%;
    }
    #kyukeiButton{
        position: fixed;
        display: block;
        top: 88%;
        left: 62%;
        transform-origin: 0% ; 
        cursor: pointer;
        transform: scale(0.7);
    }
    #kyukeiButton:hover{
        opacity:0.7;
        cursor: pointer;
    }
    #kyukeiButton:active{
        position: fixed;
	    top: 88.5%;
    }

    .hidden {
        display: none;
      }
      
    #mask {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    }
    /*保存しますか？*/
    #modal {
    background: #fff;
    width: 43%;
    height: 30%;
    padding: 24px;
    border-radius: 4px;
    color: #073b57;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0 auto;
    z-index: 2;
    }

    /*保存→「はい」ボタン*/
    #yesButton {
        padding:0.5em 0.5em;
        padding-left: 3.5em;
        padding-right: 3.5em;
        margin: 1em 1em;
        display: inline-block;
        position: relative;
        color: #fff;
        background-color: rgb(26, 167, 197);
        border: none;
        border-radius: 5px;
        top: 20%;
    }
    #yesButton:hover{
        /* リンクをホバーしたときのカーソルに*/
        opacity:0.5;
        cursor: pointer;
    }
    #yesButton:active{
	    top: 21%;
    }
    /*保存→「戻る」ボタン*/
    #noButton {
        padding:0.5em 0.5em;
        padding-left: 3.5em;
        padding-right: 3.5em;
        margin: 1em 1em;
        display: inline-block;
        position: relative;
        color: #fff;
        background-color: rgb(221, 51, 51);
        border: none;
        border-radius: 5px;
        text-align: center;
        top: 20%;
    }
    #noButton:hover{
        /* リンクをホバーしたときのカーソルに*/
        opacity:0.5;
        cursor: pointer;
    }
    #noButton:active{
	    top: 21%;
    }


    /*退出ボタン*/
    #exiticon{
        position: fixed;
        display: block;
        top: 160;
        left: 30;
        transform-origin: 0% ; 
        transform: scale(0.35);
    }
    #exiticon:hover{
        opacity:0.7;
        /* リンクをホバーしたときのカーソルに*/
        cursor: pointer;
    }
    #exiticon:active{
        position: fixed;
	    top: 161;
    }

    /*アイコンつけるボタン*/
    .icon_button{
        position: fixed;
        display: block;
        top: 160;
        left: 60;
        cursor: pointer;
    }


    /*テキストボックス*/
    /*numberの矢印を消す*/
    input[type="number"]::-webkit-outer-spin-button, 
    input[type="number"]::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }
    
    /*目標文字数*/
    .mojisu-label,
    .mojisu {
        font-family: inherit;
        color: #073b57;
        position: fixed;
    }

    .mojisu-label {
        width: calc(100% - 2em);
        font-size: .9em;
        top: 189;
        left: 26%;
    }
    .mojisu {
        display: block;
        top: 180;
        left: 16%;
        width: 9%;
        padding: 8px 10px;
        border: 1px solid #ced3d8;
        border-radius: 3px;
        line-height: 1.5;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    }
    .mojisu:focus{
        outline:solid 1px rgb(117, 139, 168);
    }
    .mojisu::placeholder {
        color: #7b7b7b;
    }
    .nonumber{
        width: calc(100% - 2em);
        font-size: .9em;
        top: 189;
        left: 15%;
    }

    /*目標時間*/
    .time-label,
    .time {
        font-family: inherit;
        position: fixed;
        color: #073b57;
    }
    .time-label {
        width: calc(100% - 2em);
        font-size: .9em;
        top: 187;
        left: 46%;
    }
    .time {
        top: 180;
        left: 36%;
        width: 9%;
        padding: 8px 10px;
        border: 1px solid #ced3d8;
        border-radius: 3px;
        line-height: 1.5;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    }
    .time:focus{
        outline:solid 1px rgb(117, 139, 168);
    }
    .time::placeholder {
        color: #7b7b7b;
    }

    /*原稿タイトル*/
    .genko_title {
        font-family: inherit;
        position: fixed;
        top: 230;
        left: 16%;
        width: 70%;
        padding: 8px 10px;
        border: 1px solid #ced3d8;
        border-radius: 3px;
        line-height: 1.5;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    }
    .genko_title:focus{
        outline:solid 1px rgb(117, 139, 168);
    }
    .genko_title::placeholder {
        color:#7b7b7b;
    }

    /*原稿本文*/
    #textarea {
        font-family: inherit;
        position: fixed;
        resize: none;
        top: 280;
        left: 16%;
        width: 70%;
        height: 40%;
        padding: 8px 10px;
        border-radius: 3px;
        font-size: 0.9em;
        display: inline-block;
        border: 1px solid #ced3d8;
        border-radius: 3px;
        box-sizing: border-box;
        margin: 0.5em 0;
        line-height: 1.5;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    }
    #textarea:focus{
        outline:solid 1px rgb(117, 139, 168);
    }
    #texarea::placeholder {
        color:  #7b7b7b;
    }

    /*文字数カウント*/
    #inputlength{
        font-family: inherit;
        position: fixed;
        top: 174;
        left: 60%;
    }
    /*「文字」*/
    .gen_mojisu_label {
        width: calc(100% - 2em);
        font-size: .9em;
        top: 192;
        left: 64%;
        font-family: inherit;
        color: #073b57;
        position: fixed;
    }
    /*「現在の文字数」*/
    .explain_moji_label{
        width: calc(100% - 2em);
        font-size: .7em;
        top: 165;
        left: 61%;
        font-family: inherit;
        color: #676767;
        position: fixed;
    }

    /*「読み上げ時間」*/
    .exprain_yomi_label{
        width: calc(100% - 2em);
        font-size: .7em;
        top: 165;
        left: 75%;
        font-family: inherit;
        color: #676767;
        position: fixed;
    }
    /*読み上げ時間計算結果*/
    #inputtime{
        font-family: inherit;
        position: fixed;
        top: 174;
        left: 75%;
    }

    /*「分」*/
    .gen_mojisu_time{
        width: calc(100% - 2em);
        font-size: .9em;
        top: 192;
        left: 79.3%;
        font-family: inherit;
        color: #073b57;
        position: fixed;
    }

    #saveicon_2{
        display: none;
        
    }
/*}*/