
/*PC用のCSSを記入*/
/*背景設定*/
#back{
    position: fixed;
    left: -6px;
    margin: 0;
    width: 105vw;
    height: 105vh;
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#sidebar{
    position: fixed;
    display: block;
    top: -15;
    left: -20;
    width: 141.33px;
    height: 628.66px;
}
#topbar{
    float: left;
    display: block;
    position: fixed;
    top: -15px;
    left: -25px;
    width: 107vw;
    height: 17%;
}
#icon{
    position: fixed;
    display: block;
    top: 13;
    left: 20;
    width: 615px;
    height: 133px;
    transform-origin: 0% 0%; /*左上基準*/
    transform: scale(0.32);
}



@media screen and (max-width: 519px) {
/*スマホ用のCSSを記入*/

}

