@font-face {
  font-family: "MS";
  src: url("../font/MS-Gothic-01.ttf");
}
html {
  font-family: "ＭＳゴシック", "MS", "ＭＳ Ｐゴシック", "MS PGothic",
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}
/* 画面設定と背景設定 */
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/blue_PC_background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #c2e7ef;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* ヘッダー */
/* 通常はPC用表示 */
.pc {
  display: block;
  color: #4e4e4e;
  top: 0;
}
.sp {
  display: none;
  color: #4e4e4e;
  top: 0;
}
.bar_back {
  position: fixed;
  text-align: center;
  width: 200%;
  top: -20px;
  left: -300px;
  z-index: 100;
}
.bar_back img {
  width: 5000px;
  height: 100px;
  top: -20px;
  left: -30px;
  z-index: 100;
}
.logo {
  position: fixed;
  height: 70px;
  width: auto;
  z-index: 5000;
}

/* 縦長ならスマホ用画面になる */
@media screen and (orientation: portrait) {
  .pc {
    display: none !important;
    color: #4e4e4e;
    top: 0;
  }
  .sp {
    display: block !important;
    color: #4e4e4e;
  }
  .bar_back {
    position: fixed;
    text-align: center;
    width: 200%;
    top: -80px;
    left: -300px;
    z-index: 100;
  }
  .bar_back img {
    width: 5000px;
    height: 250px;
    top: -100px;
    left: -30px;
    z-index: 100;
  }
  .logo-txt {
    width: 100%;
    display: block;
    position: fixed;
    font-size: 45px;
    font-weight: normal;
    top: 50px;
    text-align: center;
    z-index: 100;
    margin: 0;
    color: #4e4e4e;
  }
  /* 縦長でも縦の長さが短ければPC表示にする */
  @media screen and (max-height: 600px) {
    .pc {
      display: block !important;
      color: #4e4e4e;
      top: 0;
    }
    .sp {
      display: none !important;
      color: #4e4e4e;
      top: 0;
    }
    .bar_back {
      position: fixed;
      text-align: center;
      width: 100%;
      top: -20px;
      left: -300px;
      z-index: 100;
    }
    .bar_back img {
      width: 5000px;
      height: 100px;
      top: -20px;
      left: -30px;
      z-index: 100;
    }
    .logo {
      position: fixed;
      height: 70px;
      width: auto;
      z-index: 5000;
    }
  }
}

/* ロゴのボタン化 */
.top-wrap {
  text-align: right;
  background: none;
  border: 0;
  font-size: 0;
  line-height: 0;
  overflow: visible;
  cursor: pointer;
  padding: 0;
  z-index: 5000;
}

.logo:hover {
  opacity: 0.6;
  z-index: 5000;
}
.logo:focus {
  opacity: 0.6;
  z-index: 5000;
}
.logo:active {
  position: relative;
  z-index: 5000;
  top: 3px;
}

/* ユーザボタン PC用 */
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
.logo-txt {
  text-align: center;
  position: fixed;
  z-index: 101;
}

/* ユーザーアイコン(PC) */
.user {
  position: fixed;
  text-align: right;
  display: block;
  width: 100%;
  height: 60px;
  z-index: 1100;
}
.user_button {
  display: inline;
  text-align: right;
  background: none;
  border: 0;
  font-size: 0;
  line-height: 0;
  margin-right: 20px;
  margin-top: 5px;
  overflow: visible;
  cursor: pointer;
  padding: 0;
  z-index: 1000;
}
.user-img {
  width: 60px;
  height: 100%;
}
.user-img:hover {
  opacity: 0.6;
}
.user-img:focus {
  opacity: 0.6;
}
.user-img:active {
  position: relative;
  top: 3px;
}

/* ユーザーアイコン(スマホ) */
.user-sp {
  position: fixed;
  text-align: right;
  display: block;
  width: 100%;
  height: 90px;
  z-index: 500;
}
.user_button-sp {
  display: inline;
  text-align: right;
  background: none;
  border: 0;
  font-size: 0;
  line-height: 0;
  margin-right: 20px;
  margin-top: 55px;
  overflow: visible;
  cursor: pointer;
  padding: 0;
  z-index: 500;
}
.user-img-sp {
  width: 90px;
  height: 100%;
}
.user-img-sp:hover {
  opacity: 0.6;
}
.user-img-sp:focus {
  opacity: 0.6;
}
.user-img-sp:active {
  position: relative;
  top: 3px;
}

/* ひとつ前に戻るボタン(スマホ) */
.back-wrap {
  position: fixed;
  display: block;
  width: 100%;
  height: 90px;
  z-index: 500;
}
.back_button {
  position: fixed;
  display: block;
  height: 90px;
  z-index: 500;
  background: none;
  border: 0;
  font-size: 0;
  line-height: 0;
  margin-left: 20px;
  margin-top: 55px;
  overflow: visible;
  cursor: pointer;
  padding: 0;
  z-index: 500;
}
.back_img {
  width: 90px;
  height: 100%;
}
.back_img:hover {
  opacity: 0.6;
}
.back_img:active {
  position: relative;
  top: 3px;
}

/* ユーザー情報表示タブ(PC) */
#user-wrap {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 6000;
  text-align: center;
  /*ナビのスタート位置と形状*/
  top: -0.5em;
  right: -120%;
  width: 200px;
  height: 200px; /*ナビの高さ*/
  background-image: url("../img/blue_loginBack.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /*動き*/
  transition: all 0.6s;
  margin: 0;
  padding: 0;
  border-radius: 3px;
}
#user-list {
  margin: 0;
  padding: 0;
}

/*アクティブクラスがついたら位置を0に*/
#user-wrap.panelactive {
  right: 0;
}

/*ナビゲーション*/
#user-wrap ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 6000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
#user-wrap li {
  margin: 0;
  padding: 0;
}
.user-title {
  font-weight: bolder;
  font-size: 18px;
}
p {
  margin: 0.6em;
}
.close {
  margin-top: 2em;
}
.close p {
  margin-bottom: 0.2em;
  padding: 0.1em;
  background-color: white;
  font-weight: 600;
  overflow: visible;
  cursor: pointer;
}

.close p:hover {
  opacity: 70%;
}
.close p:focus {
  opacity: 70%;
}

/* ユーザー情報表示タブ(スマホ) */
#user-wrap-sp {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 6000;
  text-align: center;
  /*ナビのスタート位置と形状*/
  top: 9em;
  right: -120%;
  width: 200px;
  height: 200px; /*ナビの高さ*/
  background-image: url("../img/blue_loginBack.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /*動き*/
  transition: all 0.6s;
  margin: 0;
  padding: 0;
  border-radius: 3px;
}
#user-list-sp {
  margin: 0;
  padding: 0;
}

/*アクティブクラスがついたら位置を0に*/
#user-wrap-sp.panelactive {
  right: 0;
}

/*ナビゲーション*/
#user-wrap-sp ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 6000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
.close-sp {
  margin-top: 2em;
}
.close-sp p {
  margin: 0.1em;
  padding: 0.1em;
  border-radius: 5px;
  background-color: white;
  font-weight: 600;
  overflow: visible;
  cursor: pointer;
}

.close-sp p:hover {
  opacity: 70%;
}
.close-sp p:focus {
  opacity: 70%;
}

/* 横幅が狭ければボタンを小さくする(小さいスマホ) */
@media screen and (max-width: 300px) {
  .logo-txt {
    font-size: 35px;
    top: 70px;
  }
  .back_button {
    position: fixed;
    display: block;
    height: 70px;
    z-index: 500;
    background: none;
    border: 0;
    font-size: 0;
    line-height: 0;
    margin-left: 10px;
    margin-top: 75px;
    overflow: visible;
    cursor: pointer;
    padding: 0;
    z-index: 500;
  }
  .back_img {
    width: 70px;
    height: 100%;
  }
  .back_img:hover {
    opacity: 0.6;
  }
  .back_img:focus {
    opacity: 0.6;
  }
  .back_img:active {
    position: relative;
    top: 3px;
  }
  .user-sp {
    position: fixed;
    text-align: right;
    display: block;
    width: 100%;
    height: 70px;
    z-index: 500;
  }
  .user_button-sp {
    display: inline;
    text-align: right;
    background: none;
    border: 0;
    font-size: 0;
    line-height: 0;
    margin-right: 10px;
    margin-top: 75px;
    overflow: visible;
    cursor: pointer;
    padding: 0;
    z-index: 500;
  }
  .user-img-sp {
    width: 70px;
    height: 100%;
  }
  .user-img-sp:hover {
    opacity: 0.6;
  }
  .user-img-sp:focus {
    opacity: 0.6;
  }
  .user-img-sp:active {
    position: relative;
    top: 3px;
  }
}

/* メールの文字数制限 */
#user_mail-sp {
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* メールの文字数制限 */
#user_mail {
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* リンクの文字色 */
#logout,
#logout-sp {
  color: #0000ee;
  text-decoration: underline;
  cursor: pointer;
}

#logout:visited,
#logout-sp:visited {
  color: #551a8b;
  text-decoration: underline;
}

#logout:hover,
#logout-sp:hover {
  color: #10bbeb;
  text-decoration: underline;
}
#logout:focus,
#logout-sp:focus {
  color: #10bbeb;
  text-decoration: underline;
}

#logout:active,
#logout-sp:active {
  color: #ff0000;
  text-decoration: underline;
}

/* サイドバー */
#sidebar {
  position: fixed;
  display: block;
  top: -1000px;
  left: -15px;
  width: 120px;
  height: 5000px;
}
/* PCラベル */
#label {
  position: fixed;
  display: block;
  left: 93px;
  top: 100px;
  height: 60px;
}
#labeltext {
  position: fixed;
  display: block;
  top: 115px;
  left: 140px;
  height: 30px;
}

/* スクロールバー */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-image: url("../img/scroll_3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

/*画像をドラッグさせない*/
.function_button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
}

/*保存ボタン*/
#saveicon {
  position: fixed;
  display: block;
  top: 160px;
  left: 25px;
  transform-origin: 0%;
  transform: scale(0.35);
  cursor: pointer;
}
#saveicon:hover {
  opacity: 0.5;
}
#saveicon:focus {
  opacity: 0.5;
}
#saveicon:active {
  position: fixed;
  top: 163px;
}

/*退出ボタン*/
#exiticon {
  position: fixed;
  display: block;
  top: 55px;
  left: 30px;
  transform-origin: 0%;
  transform: scale(0.35);
  cursor: pointer;
}
#exiticon:hover {
  opacity: 0.7;
}
#exiticon:focus {
  opacity: 0.7;
}
#exiticon:active {
  position: fixed;
  top: 58px;
}

/* ダウンロードボタン(PC) */
#download_pc {
  position: fixed;
  width: 55px;
  top: 300px;
  left: 18px;
  opacity: 0.82;
  cursor: pointer;
}
#download_pc:hover {
  opacity: 0.5;
}
#download_pc:focus {
  opacity: 0.5;
}
#download_pc:active {
  position: fixed;
  top: 303px;
}

/* テキストボックス */
.textbox {
  overflow-y: auto;
  overflow-x: hidden;
}
.textbox::-webkit-scrollbar {
  width: 15px;
}
.textbox::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  border-radius: 5px;
}
.textbox::-webkit-scrollbar-thumb {
  background-image: url("../img/scroll_3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

/*numberの矢印を消す*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 時間とも時数の入力欄 */
.input_ideal_area {
  font-family: inherit;
  color: #073b57;
  position: fixed;
  height: 3em;
  top: 175px;
  left: 16%;
  width: 25%;
  min-width: 270px;
  font-size: 0.9em;
  margin-left: 50px;
  margin-right: 50px;
}

.mojisu,
.time,
.time_second {
  height: 2.5em;
  text-align: right;
  padding-right: 0.5em;
  font-size: 0.9em;
  display: block;
  width: 100%;
  border: 1px solid #ced3d8;
  border-radius: 3px;
  line-height: 1.5;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
  margin: 0;
}

.put_area {
  width: 17%;
  max-width: 30px;
}
.put_area_t {
  width: 11%;
  max-width: 30px;
}
.mojisu-label,
.time-label,
.second-label {
  text-align: left;
}
.m_area {
  width: 15%;
  max-width: 30px;
}
.t_area {
  width: 5%;
  max-width: 10px;
}

/*原稿タイトル*/
.genko_title {
  font-family: inherit;
  font-size: 0.9em;
  position: fixed;
  top: 230;
  left: 16%;
  width: 70%;
  padding: 8px 10px;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid #ced3d8;
  border-radius: 3px;
  line-height: 1.5;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
}
.genko_title:focus {
  outline: solid 1px rgb(117, 139, 168);
}
.genko_title::placeholder {
  color: #7b7b7b;
}

/*原稿本文*/
#textarea {
  font-family: inherit;
  position: fixed;
  resize: none;
  top: 280px;
  left: 16%;
  width: 70%;
  height: 40%;
  padding: 8px 10px;
  font-size: 0.9em;
  display: inline-block;
  border: 1px solid #ced3d8;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0.5em 0;
  margin-left: 50px;
  line-height: 1.5;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
}
#textarea:focus {
  outline: solid 1px rgb(117, 139, 168);
}
#texarea::placeholder {
  color: #7b7b7b;
}

/* スマホ表示の時 */
@media screen and (orientation: portrait) {
  .input_ideal_area,
  .genko_title,
  #textarea {
    left: 50%;
    margin-left: -45%;
  }
  .input_ideal_area {
    width: 25%;
    min-width: 240px;
  }
  .put_area {
    width: 8%;
  }
  .put_area_t {
    width: 5%;
  }
  .m_area {
    width: 6%;
  }
  .t_area {
    width: 3%;
  }
  .genko_title,
  #textarea {
    width: 89%;
  }

  #textarea {
    top: 370px;
  }
  @media screen and (max-width: 600px) {
    #textarea {
      height: 30%;
      top: 360px;
    }
  }

  /* タブレットでないときは本文入力欄を縮めて他も下げる */
  @media screen and (max-width: 500px) {
    .input_ideal_area {
      top: 230px;
    }
    .genko_title {
      top: 290px;
    }
    #textarea {
      height: 30%;
      top: 390px;
    }
  }
  @media screen and (max-width: 300px) {
    #textarea {
      height: 30%;
      top: 370px;
    }
  }

  /* 縦幅によってはPC表示 */
  @media screen and (max-height: 600px) {
    /* 時間とも時数の入力欄 */
    .input_ideal_area {
      font-family: inherit;
      color: #073b57;
      position: fixed;
      height: 3em;
      top: 175px;
      left: 16%;
      width: 25%;
      min-width: 270px;
      font-size: 0.9em;
      margin-left: 50px;
      margin-right: 50px;
    }

    .mojisu,
    .time,
    .time_second {
      height: 2.5em;
      text-align: right;
      padding-right: 0.5em;
      font-size: 0.9em;
      display: block;
      width: 100%;
      border: 1px solid #ced3d8;
      border-radius: 3px;
      line-height: 1.5;
      box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
      margin: 0;
    }

    .put_area {
      width: 17%;
      max-width: 30px;
    }
    .put_area_t {
      width: 11%;
      max-width: 30px;
    }
    .mojisu-label,
    .time-label,
    .second-label {
      text-align: left;
    }
    .m_area {
      width: 15%;
      max-width: 30px;
    }
    .t_area {
      width: 5%;
      max-width: 10px;
    }

    /*原稿タイトル*/
    .genko_title {
      font-family: inherit;
      font-size: 0.9em;
      position: fixed;
      top: 230;
      left: 16%;
      width: 70%;
      padding: 8px 10px;
      margin-left: 50px;
      margin-right: 50px;
      border: 1px solid #ced3d8;
      border-radius: 3px;
      line-height: 1.5;
      box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
    }
    .genko_title:focus {
      outline: solid 1px rgb(117, 139, 168);
    }
    .genko_title::placeholder {
      color: #7b7b7b;
    }

    /*原稿本文*/
    #textarea {
      font-family: inherit;
      position: fixed;
      resize: none;
      top: 280;
      left: 16%;
      width: 70%;
      height: 40%;
      padding: 8px 10px;
      font-size: 0.9em;
      display: inline-block;
      border: 1px solid #ced3d8;
      border-radius: 3px;
      box-sizing: border-box;
      margin: 0.5em 0;
      margin-left: 50px;
      line-height: 1.5;
      box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
    }
    #textarea:focus {
      outline: solid 1px rgb(117, 139, 168);
    }
    #texarea::placeholder {
      color: #7b7b7b;
    }
  }
}

/*  強調機能 */
.emp_funcbuttons {
  width: 72%;
  position: fixed;
  top: calc(40% + 290px);
  left: 20%;
  margin: 0;
  padding: 0;
}
.emp_funcbuttons td {
  width: 18%;
  text-align: center;
}
.emp_funcbuttons img {
  width: 110px;
  cursor: pointer;
}
.emp_funcbuttons img:focus {
  opacity: 0.5;
}
.emp_funcbuttons img:hover {
  opacity: 0.5;
}
.emp_funcbuttons img:active {
  position: relative;
  top: 3px;
}
@media screen and (orientation: portrait) {
  .emp_funcbuttons {
    top: 340px;
    left: 50%;
    width: 70%;
    transform: translateX(-50%);
  }
  .emp_funcbuttons img {
    width: 70px;
  }
  @media screen and (min-width: 750px) {
    .emp_funcbuttons {
      top: 290px;
    }
    .emp_funcbuttons img {
      width: 150px;
    }
  }
  @media screen and (min-width: 500px) {
    .emp_funcbuttons {
      top: 290px;
    }
    .emp_funcbuttons img {
      width: 150px;
    }
  }

  @media screen and (max-height: 600px) {
    .emp_funcbuttons {
      top: calc(40% + 290px);
      width: 72%;
      left: 20%;
      transform: translateX(0);
    }
    .emp_funcbuttons img {
      width: 110px;
    }
  }
}

/* 横幅に応じてサイズ変更 */
@media screen and (max-width: 630px) {
  .input_ideal_area {
    min-width: 210px;
  }
  .emp_funcbuttons img {
    width: 90px;
  }
}
@media screen and (max-width: 400px) {
  .emp_funcbuttons img {
    width: 70px;
  }
}
@media screen and (max-width: 300px) {
  .emp_funcbuttons img {
    width: 60px;
  }
}

/* 保存ボタンとダウンロードボタン(スマホ用) */
.func-sp {
  position: fixed;
  height: 100px;
  top: calc(40% + 400px);
  left: 50%;
  transform: translateX(-50%);
}
.func-sp img {
  height: 80px;
}
@media screen and (max-width: 630px) {
  .func-sp {
    top: calc(40% + 340px);
  }
  .func-sp img {
    height: 60px;
  }
}
@media screen and (max-width: 430px) {
  .func-sp {
    top: calc(40% + 340px);
  }
  .func-sp img {
    height: 50px;
  }
}
@media screen and (max-width: 300px) {
  .func-sp {
    top: calc(40% + 320px);
  }
  .func-sp img {
    height: 40px;
  }
}

/*文字数カウント*/
.inputnow {
  font-family: inherit;
  position: fixed;
  top: 165px;
  left: 100%;
  margin-left: -31%;
}
.sub-title {
  text-align: center;
  font-size: 0.7em;
  color: #676767;
  transform: rotate(0.03deg);
  height: 10px;
  min-width: 70px;
}
.text-content {
  font-size: 1em;
  width: 30px;
  height: 30px;
  text-align: right;
}
.time-content {
  font-size: 1em;
  width: 20px;
  height: 10px;
  text-align: right;
}
.p-content {
  font-size: 0.9em;
  color: #073b57;
  width: 25px;
}
.t-content {
  font-size: 0.9em;
  color: #073b57;
  width: 10px;
}
#inputtime,
#inputlength,
#inputsec {
  margin: 0;
  padding: 0;
}

/* スマホ表示の時 */
@media screen and (orientation: portrait) {
  .inputnow {
    left: 100%;
    margin-left: -50%;
  }

  @media screen and (min-width: 500px) {
    .inputnow {
      left: 100%;
      margin-left: -40%;
    }
  }
  @media screen and (max-width: 300px) {
    .inputnow {
      left: 100%;
      margin-left: -65%;
    }
  }

  /* 縦幅によってはPC表示 */
  @media screen and (max-height: 600px) {
    /* 時間とも時数の入力欄 */
    .input_ideal_area {
      font-family: inherit;
      color: #073b57;
      position: fixed;
      height: 3em;
      top: 175px;
      left: 16%;
      width: 25%;
      min-width: 270px;
      font-size: 0.9em;
      margin-left: 50px;
      margin-right: 50px;
    }

    .mojisu,
    .time,
    .time_second {
      height: 2.5em;
      text-align: right;
      padding-right: 0.5em;
      font-size: 0.9em;
      display: block;
      width: 100%;
      border: 1px solid #ced3d8;
      border-radius: 3px;
      line-height: 1.5;
      box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
      margin: 0;
    }

    .put_area {
      width: 17%;
      max-width: 30px;
    }
    .put_area_t {
      width: 11%;
      max-width: 30px;
    }
    .mojisu-label,
    .time-label,
    .second-label {
      text-align: left;
    }
    .m_area {
      width: 15%;
      max-width: 30px;
    }
    .t_area {
      width: 5%;
      max-width: 10px;
    }

    /*原稿タイトル*/
    .genko_title {
      font-family: inherit;
      font-size: 0.9em;
      position: fixed;
      top: 230;
      left: 16%;
      width: 70%;
      padding: 8px 10px;
      margin-left: 50px;
      margin-right: 50px;
      border: 1px solid #ced3d8;
      border-radius: 3px;
      line-height: 1.5;
      box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
    }
    .genko_title:focus {
      outline: solid 1px rgb(117, 139, 168);
    }
    .genko_title::placeholder {
      color: #7b7b7b;
    }

    /*原稿本文*/
    #textarea {
      font-family: inherit;
      position: fixed;
      resize: none;
      top: 280;
      left: 16%;
      width: 70%;
      height: 40%;
      padding: 8px 10px;
      font-size: 0.9em;
      display: inline-block;
      border: 1px solid #ced3d8;
      border-radius: 3px;
      box-sizing: border-box;
      margin: 0.5em 0;
      margin-left: 50px;
      line-height: 1.5;
      box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
    }
    #textarea:focus {
      outline: solid 1px rgb(117, 139, 168);
    }
    #texarea::placeholder {
      color: #7b7b7b;
    }
  }
}

/* 縦の調整 */
@media screen and (max-height: 530px) {
  #textarea {
    height: 30%;
  }
  .emp_funcbuttons {
    top: calc(30% + 280px);
  }
}
@media screen and (max-height: 450px) {
  #textarea {
    height: 20%;
  }
  .emp_funcbuttons {
    top: calc(20% + 290px);
  }
}
@media screen and (max-height: 400px) {
  #textarea {
    height: 10%;
  }
  .emp_funcbuttons {
    top: calc(10% + 290px);
  }
}
