@font-face {
  font-family: "MS";
  src: url("../font/MS-Gothic-01.ttf");
}
html {
  font-family: "ＭＳゴシック", "MS", "ＭＳ Ｐゴシック", "MS PGothic",
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}
/* 画面設定と背景設定 */
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/blue_PC_background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #c2e7ef;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* ロゴ */
.logo {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  height: 110px;
  min-height: 10vh;
  max-width: 500px;
}
.logo-img {
  width: 100%;
  height: auto;
  text-align: center;
}
ul {
  display: flex;
  padding-left: 0;
  align-items: center;
  margin: 0;
}

li {
  list-style: none;
}

.button_list {
  width: auto;
  padding: 0;
  background: none;
  border: 0;
  font-size: 0;
  line-height: 0;
  overflow: visible;
  cursor: pointer;
  /*margin-bottom: 1em;*/
  margin-left: 1em;
  margin-right: 1em;
}

.button_list img {
  display: fixed;
  position: center;
  width: 100px;
}

.button_list img:hover {
  opacity: 0.6;
}
.button_list img:active {
  position: relative;
  top: 3px;
}
@media screen and (min-height: 1000px) {
  .button_list img {
    width: 150px;
  }
}

/* ユーザーアイコン */
.user {
  text-align: right;
  margin-right: 10px;
  margin-top: 50px;
  background: none;
  border: 0;
  font-size: 0;
  line-height: 0;
  overflow: visible;
  cursor: pointer;
  padding: 0;
}
.user-img {
  width: 60px;
  height: 100%;
  text-align: center;
}
.user-img:hover {
  opacity: 0.6;
}
.user-img:active {
  position: relative;
  top: 3px;
}

@media screen and (orientation: landscape) {
  /* 横向きの場合のスタイル */
  li {
    display: inline-block;
  }
  ul {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
  }
}
@media screen and (orientation: portrait) {
  /* 縦向きの場合のスタイル */
  ul {
    display: inline;
    text-align: center;
  }
  li {
    margin-top: 6em;
  }
  .logo {
    margin-top: 50px;
  }
}

@media screen and (max-height: 700px) {
  .user {
    text-align: right;
    margin-top: 20px;
    margin-right: 10px;
  }
  li {
    margin-top: 4em;
  }
  .logo {
    margin-top: 50px;
  }
}

#logout {
}
