@font-face {
  font-family: "MS";
  src: url("../font/MS-Gothic-01.ttf");
}
html {
  font-family: "ＭＳゴシック", "MS", "ＭＳ Ｐゴシック", "MS PGothic",
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}
/* 画面設定と背景設定 */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/blue_PC_background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #c2e7ef;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* ロゴ */
.logo_l {
  text-align: center;
  width: auto;
  height: 130px;
  min-height: 10vh;
  max-width: 100%;
  padding: 9vh 0 0 0;
}
.logo-login {
  width: auto;
  height: 80%;
  max-width: 80%;
  text-align: center;
}

/* ログインボックス */
.login {
  padding: 0.5em 1em;
  margin: 5vh auto;
  /*background: #ffffff;*/
  background-image: url("../img/blue_loginBack.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  /*box-shadow: 10px 10px 5px rgba(194, 231, 239, 25);
  border-radius: 1em;*/
  text-align: center;
  width: 80%;
  max-width: 450px;
}
.login input {
  text-align: left;
  border: solid 1px #caeaf2;
  padding: 0.3em;
  transition: 0.5s;
  background: transparent;
  letter-spacing: 1px;
  border-radius: 4px;
}
#login-pass {
  width: 90%;
  margin-bottom: 1em;
}
#login-mail {
  width: 90%;
  margin-top: 2.5em;
  margin-bottom: 2em;
}
/* ログインボタン */
.login input:hover {
  background-color: #ecf6f9;
}
.login input:focus {
  outline: none;
  border: solid 1px #0f7f98;
  background-color: #dceef3;
}
.login-button-wrap {
  margin-bottom: 2.5em;
}
button {
  width: auto;
  padding: 0;
  background: none;
  border: 0;
  font-size: 0;
  line-height: 0;
  overflow: visible;
  cursor: pointer;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
#login-error-text {
  margin-bottom: 1em;
  color: red;
  transform: rotate(0.003deg);
  font-size: 0.9rem;
}
#login-button img {
  display: fixed;
  position: center;
  margin-bottom: 2em;
  width: 100px;
}
#login-button img:hover {
  opacity: 0.6;
}
#login-button img:active {
  position: relative;
  top: 3px;
}
/*  新規登録ボタン */
.new-button-wrap {
  margin-bottom: 2.5em;
  text-align: center;
}
#new-button img {
  display: fixed;
  position: center;
  margin-bottom: 2em;
  width: 105px;
}
#new-button img:hover {
  opacity: 0.6;
}
#new-button img:active {
  position: relative;
  top: 3px;
}
