/*---------- PC用レスポンシブ対応 ----------*/


@font-face {
    font-family: "MSゴシック";
	src: url("../font/MS-Gothic-01.ttf");
}

html {
    font-family: "ＭＳゴシック", "MS", "ＭＳ Ｐゴシック", "MS PGothic",
      "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  }


/*----- 背景 -----*/
#back {
	position: fixed;
    display: block;
    left: -6px;
    margin: 0;
    width: 105vw;
    height: 105vh;
    background-repeat: no-repeat;
    background-position:center center;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#sidebar {
	position: fixed;
    display: block;
    top: -100px;
	left: -40px;
	width: 173px;
	height: 1200px;
	transform: scale(0.7);
}

/* PC用ヘッダー */
#topbar {
	float: left;
	display: block;
	position: fixed;
	top: -15px;
	left: -25px;
	width: 107vw;
	height: 17%;
}

/* スマホ用ヘッダー */
#topbar_sm {
	display: none;
}

#label　{
	position: fixed;
	display: block;
	top: 100px;
	left: 100px;
	transform-origin: 0%; 
	transform: scale(0.17);
}

/* PC用ラベルテキスト */
#labeltext　{
	position: fixed;
	display: block;
	top: 16%;
	left: 10%;
	transform-origin: 0%; 
	transform: scale(0.3);
}

/* スマホ用ラベルテキスト */
#labeltext_sm{
	display: none;
}


/*----- 機能ボタン -----*/
/*左上のロゴ*/
#logoicon{
	position: fixed;
	display: block;
	top: 10px;
	left: 20x;
	transform-origin: 0% 2%; /*左上基準*/
	transform: scale(0.10);
}
#logoicon:hover{
	opacity:0.7;
    /* リンクをホバーしたときのカーソルに*/
	cursor: pointer;
}
#logoicon:active{
    position: fixed;
	top: 11;
}

/* ユーザーアイコン */
 .user_button {
    position: fixed;
	text-align: right;
	right: 20px;
	top: 10px;
	background: none;
	border: 0;
	font-size: 0;
	line-height: 0;
	overflow: visible;
	cursor: pointer;
	padding: 0;
}
.user-img {
	width: 60px;
	height: 100%;
	text-align: center;
}
.user {
	text-align: right;
	margin-top: 20px;
	margin-right: 10px;
}
.user-img:hover {
	opacity: 0.7;
}
.user-img:active {
	position: relative;
	top: 1px;
}


    /* ユーザー情報表示タブ */
    #user-wrap {
        /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
        position: fixed;
        z-index: 999;
        text-align: center;
        /*ナビのスタート位置と形状*/
        top: 1em;
        right: -120%;
        width: 200px;
        height: 200px; /*ナビの高さ*/
        background-image: url("../img/blue_loginBack.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        /*動き*/
        transition: all 0.6s;
        margin: 0;
        padding: 0;
        border-radius: 3px;
    }
    #user-list {
        margin: 0;
        padding: 0;
    }
    
    /*アクティブクラスがついたら位置を0に*/
    #user-wrap.panelactive {
        right: 0;
    }
    
    /*ナビゲーション*/
    #user-wrap ul {
        /*ナビゲーション天地中央揃え*/
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
    }
    .close {
        margin-top: 2em;
    }
    .close p {
        margin: 0.1em;
        padding: 0.1em;
        border-radius: 5px;
        background-color: white;
        font-weight: 600;
        overflow: visible;
        cursor: pointer;
    }
    
    .close p:hover {
        opacity: 70%;
    }
    .close p:focus {
        opacity: 70%;
    }
    
    /* 吹き出し */
    .description3 {
        display: none;
        position: absolute;
        padding: 10px;
        font-size: 12px;
        line-height: 1.6em;
        color: #fff;
        border-radius: 5px;
        background: #000;
        width: 100px;
    }
    .description3:before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        border: 15px solid transparent;
        border-top: 15px solid #000;
        margin-left: -15px;
    }
    .button_list:focus .description3 {
        display: inline-block;
        top: -75px;
        left: -50px;
    }
	
	
	/*原稿本文*/
    #textarea {
        font-family: inherit;
        position: fixed;
        resize: none;
        top: 40%;
        left: 18%;
        width: 70%;
        height: 40%;
        padding: 8px 10px;
        border-radius: 3px;
        font-size: 0.9em;
        display: inline-block;
        border: 1px solid #ced3d8;
        border-radius: 3px;
        box-sizing: border-box;
        margin: 0.5em 0;
        line-height: 1.5;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    }
    #textarea:focus{
        outline:solid 1px rgb(117, 139, 168);
    }
    #texarea::placeholder {
        color:  #7b7b7b;
    }
	
	/*「タイトル」*/
    .taitoru{
        width: calc(100% - 2em);
        font-size: .10em;
        top: 28%;
        left: 16%;
        font-family: inherit;
        color: #676767;
        position: fixed;
    }
	
    /*「文字数」*/
    .moji_label_1{
        width: calc(100% - 2em);
        font-size: .10em;
        top: 20%;
        left: 60%;
        font-family: inherit;
        color: #676767;
        position: fixed;
    }
	
	/*「文字」*/
    .moji_label_2 {
        width: calc(100% - 2em);
        font-size: .10em;
        top: 25%;
        left: 65%;
        font-family: inherit;
        color: #073b57;
        position: fixed;
    }

    /*「読み上げ時間」*/
    .yomi_label_1{
        width: calc(100% - 2em);
        font-size: .10em;
        top: 20%;
        left: 75%;
        font-family: inherit;
        color: #676767;
        position: fixed;
    }
	
	/*「分」*/
    .moji_time{
        width: calc(100% - 2em);
        font-size: .10em;
        top: 25%;
        left: 80%;
        font-family: inherit;
        color: #676767;
        position: fixed;
    }
	
	/*録音-再生*/
	#MicOn {
		position: fixed;
        text-align: right;
        right: 43.5%;
        top: 96%;
        /*background: none;
        border: 0;
        font-size: 0;
        line-height: 0;
        overflow: visible;
        cursor: pointer;
        padding: 0;*/
	}
	#blue_mike_Button {
		position: fixed;
        text-align: right;
        right: 680px;
        top: 670px;
        background: none;
        border: 0;
        font-size: 0;
        line-height: 0;
        overflow: visible;
        cursor: pointer;
        padding: 0;
	}
	
	#rokuonkanryo_Button {
		position: fixed;
        text-align: right;
        right: 450px;
        top: 705px;
        background: none;
        border: 0;
        font-size: 0;
        line-height: 0;
        overflow: visible;
        cursor: pointer;
        padding: 0;
	}
	
	#yarinaosu_Button {
		position: fixed;
        text-align: right;
        right: 890px;
        top: 705px;
        background: none;
        border: 0;
        font-size: 0;
        line-height: 0;
        overflow: visible;
        cursor: pointer;
        padding: 0;
	}
	
	/*タイマー*/
	#timerLabel {
	  position: fixed;
      text-align: right;
      right: 100px;
      top: 100px;
      color: black;
      font-size: 3em;
      line-height: 0.1em;
    }