/*---------- PC用レスポンシブ対応 ----------*/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MSゴシック";
  src: url("../font/MS-Gothic-01.ttf");
}

html {
  font-family: "ＭＳゴシック", "MS", "ＭＳ Ｐゴシック", "MS PGothic",
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
}

/*----- 背景 -----*/
#back {
  position: fixed;
  display: block;
  left: -6px;
  margin: 0;
  width: 105vw;
  height: 105vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100%;
  z-index: 0;
}

/* サイドバー(PC用) */
#sidebar {
  position: fixed;
  display: block;
  top: -100px;
  left: -40px;
  width: 173px;
  height: 1200px;
  transform: scale(0.7);
}

/* ヘッダー(PC用) */
#topbar {
  float: left;
  display: block;
  position: fixed;
  top: -15px;
  left: -25px;
  width: 107vw;
  height: 17%;
}

/* ヘッダー(スマホ用) */
#topbar_sm {
  display: none;
}

/* ラベル(PC用)（未完成） */
#label {
  position: fixed;
  display: block;
  top: 0%;
  left: 0%;
  transform-origin: 0%;
  transform: scale(0.17);
}

/* ラベルテキスト(PC用)（未完成） */
#labeltext {
  position: fixed;
  display: block;
  top: 16%;
  left: 10%;
  transform-origin: 0%;
  transform: scale(0.3);
}

/* ラベルテキスト(スマホ用) */
#labeltext_sm {
  display: none;
}

/*----- ユーザー情報表示タブ -----*/
#user-wrap {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  text-align: center;
  /*ナビのスタート位置と形状*/
  top: 1em;
  right: -120%;
  width: 200px;
  height: 200px; /*ナビの高さ*/
  background-image: url("../img/blue_loginBack.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /*動き*/
  transition: all 0.6s;
  margin: 0;
  padding: 0;
  border-radius: 3px;
}
#user-wrap.panelactive {
  /*アクティブクラスがついたら位置を0に*/
  right: 0;
}
/*ナビゲーション*/
#user-wrap ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

#user-list {
  margin: 0;
  padding: 0;
}

.close {
  margin-top: 2em;
}

.close p {
  margin: 0.1em;
  padding: 0.1em;
  background-color: white;
  font-weight: 600;
  overflow: visible;
  cursor: pointer;
}
.close p:hover {
  opacity: 70%;
}
.close p:focus {
  opacity: 70%;
}

/* リンクの文字色 */
#logout,
#logout-sp {
  color: #0000ee;
  text-decoration: underline;
  cursor: pointer;
}
#logout:visited,
#logout-sp:visited {
  color: #551a8b;
  text-decoration: underline;
}
#logout:hover,
#logout-sp:hover {
  color: #10bbeb;
  text-decoration: underline;
}
#logout:focus,
#logout-sp:focus {
  color: #10bbeb;
  text-decoration: underline;
}
#logout:active,
#logout-sp:active {
  color: #ff0000;
  text-decoration: underline;
}

/*----- 機能ボタン -----*/
/*　左上のロゴ(PC用)　*/
#logoicon {
  position: fixed;
  display: block;
  top: 10px;
  left: 20x;
  transform-origin: 0% 2%; /*左上基準*/
  transform: scale(0.1);
}
#logoicon:hover {
  opacity: 0.7;
  cursor: pointer;
}
#logoicon:active {
  position: fixed;
  top: 11;
}

/* ユーザーアイコン(PC用) */
.user_button {
  position: fixed;
  text-align: right;
  right: 20px;
  top: 20px;
  background: none;
  border: 0;
  font-size: 0;
  line-height: 0;
  overflow: visible;
  cursor: pointer;
  padding: 0;
}
.user-img {
  width: 60px;
  height: 100%;
  text-align: center;
}
.user {
  text-align: right;
  margin-top: 20px;
  margin-right: 10px;
}
.user-img:hover {
  opacity: 0.7;
}
.user-img:active {
  position: relative;
  top: 1px;
}

/* 戻るボタン(スマホ用) */
#back_button {
  display: none;
}

/* ホームボタン(スマホ用) */
#home {
  display: none;
}
@media screen and (max-width: 800px) {
  #back_button {
    display: fixed;
    z-index: 9999;
    width: 50px;
    top: 10px;
    right: 2em;
  }

  /* ホームボタン(スマホ用) */
  #home {
    display: fixed;
    z-index: 9999;
    width: 50px;
    top: 5px;
    right: 5px;
  }
}

/*----- サイドバーの機能設定 -----*/
/*　退出ボタン(PC用)　*/
#exiticon {
  position: fixed;
  display: block;
  top: 70px;
  left: 30px;
  transform-origin: 0%;
  transform: scale(0.35);
}
#exiticon:hover {
  opacity: 0.7;
  cursor: pointer;
}
#exiticon:active {
  position: fixed;
  top: 161;
}

/*----- 録音-再生 -----*/
/* マイク確認ボタン */
#MicOn {
  position: fixed;
  text-align: right;
  top: 96%;
}

/* 録音開始ボタン */
#Control {
  text-align: center;
  z-index: -1;
  height: 100vh;
}
#blue_mike_Button {
  position: fixed;
  text-align: center;
  top: 80%;
  width: 100px;
  background: none;
  border: 0;
  font-size: 0;
  line-height: 0;
  overflow: visible;
  cursor: pointer;
  padding: 0;
}

/* 録音完了ボタン */
#RecStop {
  position: fixed;
  background: none;
  right: 15%;
  top: 85%;
  border: none;
}
#rokuonkanryo_Button {
  bottom: 10px;
  width: 100px;
  background: none;
  border: 0;
  font-size: 0;
  line-height: 0;
  overflow: visible;
  cursor: pointer;
  padding: 0;
}

/* やり直しボタン */
#Reset {
  position: fixed;
  background: none;
  left: 32%;
  top: 85%;
  border: none;
}
#yarinaosu_Button {
  right: 890px;
  bottom: 10px;
  width: 100px;
  background: none;
  border: 0;
  font-size: 0;
  line-height: 0;
  overflow: visible;
  cursor: pointer;
  padding: 0;
}

/*タイマー*/
#timerLabel {
  position: fixed;
  text-align: right;
  right: 8%;
  top: 22.5%;
  color: black;
  font-size: 1.5em;
  line-height: 0.1em;
}

/*----- 原稿内容 -----*/
/* 原稿 */
#textarea {
  font-family: inherit;
  position: fixed;
  resize: none;
  top: 40%;
  left: 18%;
  width: 70%;
  height: 40%;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 0.9em;
  display: inline-block;
  border: 1px solid #ced3d8;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0.5em 0;
  line-height: 1.5;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
}
#textarea:focus {
  outline: solid 1px rgb(117, 139, 168);
}
#texarea::placeholder {
  color: #7b7b7b;
}

/*----- 印字内容 -----*/
/*原稿タイトル*/
.genko_title {
  font-family: inherit;
  position: fixed;
  top: 30%;
  left: 18%;
  width: 40%;
  padding: 8px 10px;
  border: 1px solid #ced3d8;
  border-radius: 3px;
  line-height: 1.5;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.075);
}
.genko_title:focus {
  outline: solid 1px rgb(117, 139, 168);
}
.genko_title::placeholder {
  color: #7b7b7b;
}

/* 「タイトル」 */
.taitoru {
  width: calc(100% - 2em);
  font-size: 0.1em;
  top: 28%;
  left: 18%;
  font-family: inherit;
  color: #676767;
  position: fixed;
}

/* 「文字数」 */
.moji_label_1 {
  width: calc(100% - 2em);
  font-size: 0.1em;
  top: 20%;
  left: 60%;
  font-family: inherit;
  color: #676767;
  position: fixed;
}

/*文字数*/
#inputlength {
  font-family: inherit;
  position: fixed;
  top: 22.5%;
  left: 61%;
}

/* 「文字」 */
.moji_label_2 {
  width: calc(100% - 2em);
  font-size: 0.1em;
  top: 25%;
  left: 65%;
  font-family: inherit;
  color: #073b57;
  position: fixed;
}

/* 「読み上げ目安時間」 */
.yomi_label_1 {
  width: calc(100% - 2em);
  font-size: 0.1em;
  top: 20%;
  left: 75%;
  font-family: inherit;
  color: #676767;
  position: fixed;
}

/*読み上げ目安時間*/
#inputtime {
  font-family: inherit;
  position: fixed;
  top: 22.5%;
  left: 76.5%;
}

/* 「分」 */
.moji_time {
  width: calc(100% - 2em);
  font-size: 0.1em;
  top: 25%;
  left: 80%;
  font-family: inherit;
  color: #676767;
  position: fixed;
}

/* 「経過時間」 */
.yomi_label_2 {
  width: calc(100% - 2em);
  font-size: 0.1em;
  top: 20%;
  left: 88%;
  font-family: inherit;
  color: #676767;
  position: fixed;
}
