/*---------- スマホ用レスポンシブ対応 ----------*/


@font-face {
    font-family: "MSゴシック";
    src: url("../font/MS-Gothic-01.ttf");
  }
  
  
@media screen and (orientation: portrait) {

/*----- 背景 -----*/ 
.background {
	text-align: center;
}

#back {
	position: fixed;
	display: block;
	left: -9px;
	top: 40px;
	margin: 0;
	width: 105vw;
	height: 105vh;
	background-repeat: no-repeat;
	background-position:center center;
	background-attachment: fixed;
	background-size: 100% 100%;
}

/* サイドバー(PC用) */
#sidebar {
	display: none;
}

/* ヘッダー(PC用) */
#topbar {
	display: none;
}

/* ヘッダー(スマホ用) */
#topbar_sm {
	display: block;
	position: fixed;
	top: -123px;
	left: -17px;
	width: 120%;
	height: auto;
}

/* ラベル(PC用) */
#label{
	display: none;
}

/* ラベルテキスト(PC用) */
#labeltext{
    display: none;
}

/* ラベルテキスト(スマホ用)（未完成） */
#labeltext_sm{
	position: absolute;
	display: flex;
	justify-content: center;
	top: 6%;
	left: 53%;
	margin-left: -16%;
	width: 130px;
}


/*----- 機能ボタン -----*/
/* 左上のロゴ(PC用) */
#logoicon{
	display: none;
}

/* ユーザーアイコン(PC用) */
.user_button {
	display: none;
}

/* 戻るボタン(スマホ用)（未完成） */
#back_button{
	z-index: 100;
	position: absolute;
	text-align: right;
	right: 36%;
	top: 80%;
	width: 50px;
}
#back_button:hover{
	cursor: pointer;
}
#back_button:active{
	position: fixed;
	top: 10.5%;
}

/* ホームボタン(スマホ用)（未完成） */
#home{
	z-index: 100;
	position: absolute;
	text-align: right;
	right: 202px;
	top: 100px;
	width: 500px;
	background: none;
	overflow: visible;
	cursor: pointer;
}
#home:hover{
	cursor: pointer;
}
#home:active{
	position: fixed;
	top: 10.5%;
}


/*----- サイドバーの機能設定 -----*/
/*　退出ボタン(PC用)　*/
#exiticon{
	display: none;
}


/*----- 録音-再生 -----*/
/* マイク確認ボタン */
#MicOn {
	position: fixed;
	text-align: right;
	right: 36%;
	top: 96%;
	/*background: none;
	border: 0;
	font-size: 0;
	line-height: 0;
	overflow: visible;
	cursor: pointer;
	padding: 0;*/
}

/* 録音開始ボタン */
#blue_mike_Button {
	position: fixed;
	text-align: right;
	right: 202px;
	top: 660px;
	width: 90px;
	background: none;
	border: 0;
	font-size: 0;
	line-height: 0;
	overflow: visible;
	cursor: pointer;
	padding: 0;
}

/* 録音完了ボタン */
#rokuonkanryo_Button {
	position: fixed;
	text-align: right;
	right: 75px;
	top: 680px;
	width: 120px;
	background: none;
	border: 0;
	font-size: 0;
	line-height: 0;
	overflow: visible;
	cursor: pointer;
	padding: 0;
}

/* やり直しボタン */	
#yarinaosu_Button {
	position: fixed;
	text-align: right;
	right: 300px;
	top: 680px;
	width: 120px;
	background: none;
	border: 0;
	font-size: 0;
	line-height: 0;
	overflow: visible;
	cursor: pointer;
	padding: 0;
}
	
/*タイマー*/
#timerLabel {
	position: fixed;
	text-align: right;
	left: 74%;
	top: 22.5%;
	color: black;
	font-size: 1.3em;
	line-height: 0.1em;
}



/*----- 原稿内容 -----*/
/* 原稿 */
#textarea {
	font-family: inherit;
	position: fixed;
	resize: none;
	top: 330px;
	left: 6.5%;
	width: 87%;
	height: 40%;
	margin-left: -180px;
	margin-right: 20px;
	padding: 8px 10px;
	border-radius: 3px;
	font-size: 0.9em;
	border: 1px solid #ced3d8;
	border-radius: 3px;
	box-sizing: border-box;
	margin: 0.5em 0;
	line-height: 1.5;
	box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
}
#textarea:focus{
	outline:solid 1px rgb(117, 139, 168);
}
#texarea::placeholder {
	color: #7b7b7b;
}


/*----- 印字内容 -----*/
/*原稿タイトル*/
    .genko_title {
        font-family: inherit;
        position: fixed;
        top: 36%;
        left: 7%;
        width: 40%;
        padding: 8px 10px;
        border: 1px solid #ced3d8;
        border-radius: 3px;
        line-height: 1.5;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    }
    .genko_title:focus{
        outline:solid 1px rgb(117, 139, 168);
    }
    .genko_title::placeholder {
        color:#7b7b7b;
    }
	
/* 「タイトル」 */
.taitoru{
	width: calc(100% - 2em);
	font-size: .10em;
	top: 33%;
	left: 8%;
	font-family: inherit;
	color: #676767;
	position: fixed;
}
	
/* 「文字数」 */
.moji_label_1{
	width: calc(100% - 2em);
	font-size: .10em;
	top: 20%;
	left: 10%;
	font-family: inherit;
	color: #676767;
	position: fixed;
}

/*文字数*/
#inputlength {
	font-family: inherit;
	position: fixed;
	top: 22.5%;
	left: 14%;
}
	
/* 「文字」 */
.moji_label_2 {
	width: calc(100% - 2em);
	font-size: .10em;
	top: 25%;
	left: 23%;
	font-family: inherit;
	color: #073b57;
	position: fixed;
}

/* 「読み上げ時間」 */
.yomi_label_1{
	width: calc(100% - 2em);
	font-size: .10em;
	top: 20%;
	left: 40%;
	font-family: inherit;
	color: #676767;
	position: fixed;
}

/*読み上げ時間*/
#inputtime{
	font-family: inherit;
	position: fixed;
	top: 22.5%;
	left: 45%;
}
	
/* 「分」 */
.moji_time{
	width: calc(100% - 2em);
	font-size: .10em;
	top: 25%;
	left: 55%;
	font-family: inherit;
	color: #676767;
	position: fixed;
}

/* 「経過時間」 */
.yomi_label_2{
	width: calc(100% - 2em);
	font-size: .10em;
	top: 20%;
	left: 73%;
	font-family: inherit;
	color: #676767;
	position: fixed;
}


}