/*---------- スマホ用レスポンシブ対応 ----------*/


@font-face {
    font-family: "MSゴシック";
    src: url("../font/MS-Gothic-01.ttf");
  }
  
  
@media screen and (orientation: portrait) {

/*----- 背景 -----*/ 
.background {
	text-align: center;
}

#back {
	position: fixed;
	display: block;
	left: -9px;
	top: 40px;
	margin: 0;
	width: 105vw;
	height: 105vh;
	background-repeat: no-repeat;
	background-position:center center;
	background-attachment: fixed;
	background-size: 100% 100%;
}

/* サイドバー(PC用) */
#sidebar {
	display: none;
}

/* ヘッダー(PC用) */
#topbar {
	display: none;
}

/* ヘッダー(スマホ用) */
#topbar_sm {
	display: block;
	position: fixed;
	top: -123px;
	left: -17px;
	width: 120%;
	height: auto;
}

/* ラベル(PC用) */
#label{
	display: none;
}

/* ラベルテキスト(PC用) */
#labeltext{
    display: none;
}

/* ラベルテキスト(スマホ用)（未完成） */
#labeltext_sm{
	position: absolute;
	display: flex;
	justify-content: center;
	top: 8%;
	left: 53%;
	margin-left: -16%;
	width: 130px;
}


/*----- 機能ボタン -----*/
/* 左上のロゴ(PC用) */
#logoicon{
	display: none;
}

/* ユーザーアイコン(PC用) */
.user_button {
	display: none;
}

/* 戻るボタン(スマホ用)（未完成） */
#back_button{
	position: absolute;
	float: none;
	margin: auto;
	top: 30%;
	left: 20%;
	width: 50px;
}
#back_button:hover{
	cursor: pointer;
}
#back_button:active{
	position: fixed;
	top: 10.5%;
}

/* ホームボタン(スマホ用)（未完成） */
#home{
	position: absolute;
	float: none;
	margin: auto;
	top: 30%;
	right: 20%;
	width: 50px;
}
#home:hover{
	cursor: pointer;
}
#home:active{
	position: fixed;
	top: 10.5%;
}


/*----- サイドバーの機能設定 -----*/
/*　退出ボタン(PC用)　*/
#exiticon{
	display: none;
}


/*----- 録音-再生 -----*/
/* マイク確認ボタン */
#MicOn {
	position: fixed;
	text-align: right;
	right: 36%;
	top: 96%;
	/*background: none;
	border: 0;
	font-size: 0;
	line-height: 0;
	overflow: visible;
	cursor: pointer;
	padding: 0;*/
}

/* 録音開始ボタン */
#blue_mike_Button {
	position: fixed;
	text-align: right;
	right: 202px;
	top: 660px;
	width: 90px;
	background: none;
	border: 0;
	font-size: 0;
	line-height: 0;
	overflow: visible;
	cursor: pointer;
	padding: 0;
}

/* 録音完了ボタン */
#rokuonkanryo_Button {
	position: fixed;
	text-align: right;
	right: 75px;
	top: 680px;
	width: 120px;
	background: none;
	border: 0;
	font-size: 0;
	line-height: 0;
	overflow: visible;
	cursor: pointer;
	padding: 0;
}

/* やり直しボタン */	
#yarinaosu_Button {
	position: fixed;
	text-align: right;
	right: 300px;
	top: 680px;
	width: 120px;
	background: none;
	border: 0;
	font-size: 0;
	line-height: 0;
	overflow: visible;
	cursor: pointer;
	padding: 0;
}
	
/*タイマー（未完成）*/
#timerLabel {
	position: fixed;
	text-align: right;
	left: 70%;
	top: 20%;
	color: black;
	font-size: 2em;
	line-height: 0.1em;
}



/*----- 原稿内容 -----*/
/* 原稿 */
#textarea {
	font-family: inherit;
	position: fixed;
	resize: none;
	top: 330px;
	left: 6.5%;
	width: 87%;
	height: 40%;
	margin-left: -180px;
	margin-right: 20px;
	padding: 8px 10px;
	border-radius: 3px;
	font-size: 0.9em;
	border: 1px solid #ced3d8;
	border-radius: 3px;
	box-sizing: border-box;
	margin: 0.5em 0;
	line-height: 1.5;
	box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
}
#textarea:focus{
	outline:solid 1px rgb(117, 139, 168);
}
#texarea::placeholder {
	color: #7b7b7b;
}


/*----- 印字内容 -----*/
/* 「タイトル」 */
.taitoru{
	width: calc(100% - 2em);
	font-size: .10em;
	top: 35%;
	left: 8%;
	font-family: inherit;
	color: #676767;
	position: fixed;
}
	
/* 「文字数」 */
.moji_label_1{
	width: calc(100% - 2em);
	font-size: .10em;
	top: 20%;
	left: 10%;
	font-family: inherit;
	color: #676767;
	position: fixed;
}
	
/* 「文字」 */
.moji_label_2 {
	width: calc(100% - 2em);
	font-size: .10em;
	top: 25%;
	left: 25%;
	font-family: inherit;
	color: #073b57;
	position: fixed;
}

/* 「読み上げ時間」 */
.yomi_label_1{
	width: calc(100% - 2em);
	font-size: .10em;
	top: 20%;
	left: 40%;
	font-family: inherit;
	color: #676767;
	position: fixed;
}
	
/* 「分」 */
.moji_time{
	width: calc(100% - 2em);
	font-size: .10em;
	top: 25%;
	left: 55%;
	font-family: inherit;
	color: #676767;
	position: fixed;
}


}


/*----- これより以下は手つかず -----*/
    /*目標文字数*/
	/*
    .mojisu-label,
    .mojisu {
        font-family: inherit;
        color: #073b57;
        position: fixed;
    }

    .mojisu-label {
        width: calc(100% - 2em);
        font-size: .9em;
        top: 230;
        left: -1%;
        display: block;
    }
    .mojisu {
        display: block;
        top: 220;
        left: 15%;
        width: 24%;
        height: 5%;
        padding: 8px 10px;
        border: 1px solid #ced3d8;
        border-radius: 3px;
        line-height: 1.5;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    }
    .mojisu:focus{
        outline:solid 1px rgb(117, 139, 168);
    }
    .mojisu::placeholder {
        color: #7b7b7b;
    }
    /*目標時間*/
	/*
    .time-label,
    .time {
        font-family: inherit;
        position: fixed;
        color: #333;
    }
    .time-label {
        width: calc(100% - 2em);
        font-size: .9em;
        top: 285;
        left: -3%;
    }
    .time {
        top: 274;
        left: 15%;
        width: 24%;
        height: 5%;
        padding: 8px 10px;
        border: 1px solid #ced3d8;
        border-radius: 3px;
        line-height: 1.5;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    }
    .time:focus{
        outline:solid 1px rgb(117, 139, 168);
    }
    .time::placeholder {
        color: #7b7b7b;
    }

    /*原稿タイトル*/
	/*
    .genko_title {
        font-family: inherit;
        position: fixed;
        top: 350;
        width: 87%;
        left: 50%;
        height: auto;
        margin-left: -43%;
        padding: 7px 10px;
        font-size: 0.9em;
        border: 1px solid #ced3d8;
        border-radius: 3px;
        line-height: 1.5;
        box-shadow: inset 0 2px 2px rgba(0,0,0,.075);
    }
    .genko_title:focus{
        outline:solid 1px rgb(117, 139, 168);
    }
    .genko_title::placeholder {
        color: #7b7b7b;
    }
    
    /*文字数カウント*/
	/*
    #inputlength{
        font-family: inherit;
        position: fixed;
        top: 222;
        left: 70%;
	}

    #inputtime{
        font-family: inherit;
        position: fixed;
        top: 272;
        left: 70%;
    }


 /*---------- スマホボタン設定 ----------*/

    /*画像をドラッグさせない*/
	/*
    .sm_function{
        -webkit-touch-callout:none;
        -webkit-user-select:none;
        -moz-touch-callout:none;
        -moz-user-select:none;
        user-select:none;
    }

    /*隠す用*/
	/*#mask_sm {
        background: rgba(0, 0, 0, 0.7);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }*/
	
    /*隠す用？*/
    /*#modal_sm {
    background: #fff;
    width: 40%;
    height: 30%;
    padding: 24px;
    border-radius: 4px;
    color: #073b57;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0 auto;
    z-index: 2;
    }*/