.mediaViewInfo {
	--web-view-name: 練習画面;
	--web-view-id: Artboard;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Artboard;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Artboard {
	position: absolute;
	width: 1900px;
	height: 1000px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: 練習画面;
	--web-view-id: Artboard;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#blue_PC_background {
	position: absolute;
	width: 1920px;
	height: 1330px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#blue_mike_Button {
	position: absolute;
	width: 200px;
	height: 200px;
	left: 910px;
	top: 869px;
	overflow: visible;
}
#yarinaosu_Button {
	position: absolute;
	width: 150px;
	height: 64.548px;
	left: 740px;
	top: 936.726px;
	overflow: visible;
}
#rokuonkanryo_Button {
	position: absolute;
	width: 150px;
	height: 65.48px;
	left: 1130px;
	top: 941.566px;
	overflow: visible;
}
#blue_PC_label {
	position: absolute;
	width: 387.679px;
	height: 100px;
	left: 142px;
	top: 179px;
	overflow: visible;
}
#blue_PC_side {
	position: absolute;
	width: 194.148px;
	height: 1184px;
	left: -26px;
	top: -28px;
	overflow: visible;
}
#blue_PC_top {
	position: absolute;
	width: 1976px;
	height: 207.434px;
	left: -29px;
	top: -27px;
	overflow: visible;
}
#blue_PC_titlelogo {
	position: absolute;
	width: 400px;
	height: 101.827px;
	left: 33px;
	top: 26px;
	overflow: visible;
}
#PC_door_icon {
	position: absolute;
	width: 50px;
	height: 101.163px;
	left: 46px;
	top: 192px;
	overflow: visible;
}
#n_1 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_1 {
	position: absolute;
	overflow: visible;
	width: 1500px;
	height: 560px;
	left: 270px;
	top: 310px;
}
#n_2 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_2 {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 40px;
	left: 1650px;
	top: 245px;
}
#Text {
	left: 1450px;
	top: 210px;
	position: absolute;
	overflow: visible;
	width: 69px;
	height: 27px;
	text-align: left;
	font-family: Tw Cen MT;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(24,96,191,1);
	letter-spacing: 1px;
}
#Text_s {
	left: 1650px;
	top: 210px;
	position: absolute;
	overflow: visible;
	width: 128px;
	height: 27px;
	text-align: left;
	font-family: Tw Cen MT;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(24,96,191,1);
	letter-spacing: 1px;
}
#blue_message {
	position: absolute;
	width: 300px;
	height: 237.665px;
	left: 860px;
	top: 655px;
	overflow: visible;
}
#n_5 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_5 {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 40px;
	left: 1450px;
	top: 245px;
}
#n_6 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_6 {
	position: absolute;
	overflow: visible;
	width: 120px;
	height: 40px;
	left: 1450px;
	top: 245px;
}
#n_7 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.n_7 {
	position: absolute;
	overflow: visible;
	width: 623px;
	height: 40px;
	left: 566px;
	top: 245px;
}